#analyze-container {
	height: 600px;
	overflow-y: scroll;
	border: solid;
    border-color: white;
    border-width: 1px;
}


.analyze-tool-container{
	height: 400px;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;

}

.iframe {
	top: -25px;
	position: relative;
	height: 110%;
	width: 100%; 
}