#analyze-container {
	height: 600px;
	overflow-y: scroll;
	border: solid;
    border-color: white;
    border-width: 1px;
}


.analyze-tool-container{
	height: 400px;
	overflow: hidden;
	margin-left: 0;
	margin-right: 0;
	border: solid;
    border-color: white;
    border-width: 1px;
    padding: 0;
}

.iframe {
	top: -25px;
	position: relative;
	height: 110%;
	width: 100%; 
}