#navbar {
	margin-top: 20px;
	padding: 0;
	/*background-color: #3B3B3C;*/
	clear: both;
	margin-bottom: 20px;
}

#logo {
	border: solid;
	border-color: white;
	border-width: 1px;
}

.nav-element {
	font-size: 18px;
	text-align: center;
	border: solid;
	border-color: white;
	border-width: 1px;
	color: white;
	padding: 15px;
	cursor: pointer;
	height: 90px;
	background-color: #C0C0C0;
}

#help-container {
	background-color: #3B3B3C;
}

.nav-element-label {
	color: white;
}


#logo-container {
	padding: 0;
	height: 100%;	
}

#logo{
	height: 100%;
	width: 100%;
}