#tools {
    height: 600px;
    overflow: scroll;
    margin-top: 20px;
    padding: 0;
}

.tool-image{
    height: 220px;    
}


.tool-container {
    border: solid;
    border-color: white;
    border-width: 1px;
}

.tool-heading-container{
    font-size: 16px;
    color: white;
    text-decoration: underline;
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
}

.tool-image-container {
    width: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tool-description-container {
    height: 120px;
    display: block;
    margin-top: 10px;
    display: block;
}

.select-tools-text {
    color: white;
}

.tools-buttons {
    width: 45%;
    background-color: #006600;
    border-color: #006600;
    margin-top: 20px;
    margin-bottom: 20px;
}
