#stopword-label{
	margin-top: 20px;
	text-decoration: underline;
}


#stopword-label, .xpath-label, #xpath-heading{
	font-size: 16px;
	color:white;
}

#select-stopwordlist, #add-stopwordlist{
	width: 100%;
}

#xpath-heading{
	margin-top: 20px;
	text-decoration: underline;
}

#xpath-expressions{
	border-color: white;
	border-width: 1px;
}

.xpath-line{
	margin-top: 10px;
	margin-bottom: 20px;
}

#apply-xpath-button, #to-tools-button {
	margin-top: 10px;
	margin-bottom: 20px;
	width: 15%; 
}

#settings-feedback{
	color: green; 
	margin-bottom: 10px;
	visibility: hidden;
}
