#settings-content {
	height: 600px;
	overflow: scroll;
}


#stopword-label{
	margin-top: 20px;
	text-decoration: underline;
}


#stopword-label, .xpath-label, #xpath-heading{
	font-size: 16px;
	color:white;
}

#select-stopwordlist{
	width: 100%;
}

.dropdown {
	margin-top: 20px;
}

#stopwordlist{
	border: solid;
	border-color: white;
	border-width: 1px;
	margin-top: 20px;
	padding-bottom: 20px;
	height: 150px; 
}

#xpath-heading{
	margin-top: 20px;
	text-decoration: underline;
	margin-bottom: 50px;
}

#xpath-expressions{
	border: solid;
	border-color: white;
	border-width: 1px;
	margin-top: 20px;
	height: 300px;
}

.xpath-line{
	margin-top: 10px;
	margin-bottom: 20px;
}

#xpath-button-group {
	display: inline-block;
}

.settings-buttons {
	width: 45%;
	background-color: #006600;
	border-color: #006600;
	margin-bottom: 20px;
	margin-top: 20px;
}

#settings-feedback{
	color: green; 
	margin-bottom: 10px;
	visibility: hidden;
}
