/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

html{
	background-color: #646464;
}

#website{
	background-color: #646464;
}


#content {
	background-color: #3B3B3C;*/
	clear: both;
	overflow: auto;
	padding: 0;
	border: solid;
	border-color: white;
	border-width: 1px;
	height: 700px; 
}

.btn-primary {
	  background-color: rgb(176, 33, 48);
	  border-color: rgb(176, 33, 48);
}

.btn-primary:hover {
 	background-color: rgb(131, 139, 139);
	  border-color: rgb(131, 139, 139);
}
.dropdown-menu {
  min-width:auto;
  width:100%;
}	