@import url('//cdnjs.cloudflare.com/ajax/libs/dropzone/3.8.4/css/dropzone.css');

#upload-navbar {
	text-align: center;
	font-size: 18px;
	color: white;
	padding: 0;
	margin-top: 20px;
}

.upload-nav-element {
	border: solid;
	border-width: 1px;
	border-color: white;
	padding: 10px;
	cursor: pointer;
}

#freetext-button{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px; 
}

#upload-button{
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px; 
}


#freetext-description, #upload-description{
	color: white;
	font-size: 14px;	
	margin-top: 20px;
}

#text-input{
	display: block;
	width: 100%;
	height: 300px;
	margin-bottom: 20px;
}

#freetext-corpus-settings{
	margin-bottom: 20px;
}

#upload-container {
	margin-bottom: 20px;
	width: 100%;
}

#apply-freetext-button, #apply-upload-button, #to-settings-button, #upload-to-settings-button, #freetext-to-settings-button{
	margin-bottom: 20px;
	width: 40%; 
}

#freetext-upload-feedback, #file-upload-feedback{
	color: green; 
	margin-bottom: 10px;	
}