<!DOCTYPE html>
<html>
    <head>
        <title>Voyant Tools: Reveal Your Texts</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="/stylesheets/sidebar.css">
            <link rel="stylesheet" type="text/css" href="/stylesheets/content.css">
            <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
      </head>
      <body>
        <div id="website">
            <!--sidebar-->
            <div id="nav-bar"> 
            </div>

            <!--content-->
            <div id="content">
            </div>
        </div>


            
        <!--Libs-->
        <script src="/javascripts/libs/jquery-2.1.3.min.js"></script>
        <script src="/javascripts/libs/underscore-min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

        <!--JS-Files-->
        <script src="/javascripts/Voyant.js"></script>
        <script src="/javascripts/controller/MainController.js"></script>
        <script src="/javascripts/views/NavbarView.js"></script>

        <script>
                Voyant.init();
        </script>
    </body>
</html>
