#sidebar{
    margin-top: 20px; 
    background-color: #3B3B3C;
    padding-top: 15px;
}

#voyant-logo{
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.sidebar-item{
    background-color: #3B3B3C;
    color: white;
    font-size: 16px;
}

.sidebar-subitem{
	background-color: #3B3B3C;
    color: white;
    font-size: 14px;
    width: 80%;
    margin-right: 0;
    margin-left:auto;
    display: none;
}

.corpus-nav-item {
    background-color: #3B3B3C;
    color: white;
    font-size: 14px;
    text-align: center;
    border: none;
}

.corpus-navbar{
    border: solid;
    border-color: white;
    border-width: 1px;
}
