#heading-container {
	background-image: url('images/voyant-logo.png');
	width:655px;
	height:176px;
}

#iframe-visible {
	height: 400px;
	width :600px;
	border: none;
}

#iframe-invisible{
	height: 0;
	width: 0;
	border: none;
}